body {
    background-color: #757575;
}

.container {
    background-color: white;
    box-shadow: 5px 0 5px -2px #C0C0C0;
    margin-top: 20px;
    width: 60%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
}

.container h1{
    margin-left: 15px;
}