@import models.com.gamecode_share.models.User
@(page: String, isLoggedIn: Boolean, user: User, messages: play.i18n.Messages, email: String)


@shared.main(page, isLoggedIn, user, messages) {
    <script>
            $(document ).ready(function () {
                $('#emailButton').on('click', function (e) {
                    //sendEmail()
                    console.log(test);
                });
            });


            function sendEmail(email) {
                console.log(email);
                $.get('/auth/resendverify/' + email, function(data) {
                    console.log(data);
                });
            }

    </script>


    <div class="container">
        <h1>@messages.at("authentication.accountVerifyError.title")</h1>

        <p>@messages.at("authentication.accountVerifyError.message")</p>
        <button onclick="sendEmail('@email')">Send email</button>
        <p>test</p>
    </div>
}
